:root {
    --color-primary: #2C3639;
    --color-secondary: #ffff;
    --color-tertiary: #A27B5C;
    --color-hover: #3F4E4F;

    /* --font-primary: 'Krona One', sans-serif;
    --font-secondary: 'Montserrat', sans-serif; */
}

* {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;

}

body {
    box-sizing: border-box;
    background-color: var(--color-primary);
    color: var(--color-secondary);

}

.header {
    padding: 2% 0% 0% 15%;
}

.header__menu {
    display: flex;
    gap: 80px;
}

.header__menu__link {
    font-family: var(--font-secondary);
    font-size: 1rem;
    font-weight: 600;
    color: #FFFF;
    text-decoration: none;
}



.title-blog {
    color: var(--color-tertiary);
}

.presentation {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.presentation__content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentation__content__title {
    font-size: 1.5rem;
    font-family: var(--font-primary);
}

.text-highlight {
    color: var(--color-tertiary);
}

.presentation__content__text {
    font-size: 1rem;
    font-family: var(--font-secondary);
}

.presentation__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;

}

.presentation__links__title {
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 1rem;
}


.presentation__links__nav {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--color-tertiary);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--color-secondary);
    font-family: var(--font-secondary);
}

.presentation__links__link:hover {
    background-color: var(--color-hover);
}

.presentation__img {
    width: 30%;
    border-radius: 30px;
}

.carousel-img {
    border-radius: 50px;
}

.footer {
    color: var(--color-primary);
    background-color: var(--color-tertiary);
    padding: 24px;
    text-align: center;
    font-family: var(--font-secondary);
    font-size: 1rem;
    font-weight: 400;
}

.card {
    transition: transform 0.3s ease;
    position: relative;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.02);
}

.card img {
    transition: transform 0.3s ease;
}

.card:hover img {
    transform: scale(1.02);
}


@media (max-width: 1200px) {
    .header {
        padding: 10%;

    }

    .header__menu {
        justify-content: center;

    }

    .presentation {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .presentation__content {
        width: auto;
    }

    img {
        max-width: 100%;
        height: auto;
    }


}

@media (max-width: 400px) {
    :root {
        --font-size-large: 1.25rem;
        --font-size-medium: 1rem;
        --font-size-small: 0.875rem;
    }

    img {
        max-width: 100%;
        height: auto;
    }


    .header {
        padding: 5%;
    }

    .header__menu {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .header__menu__link {
        font-size: var(--font-size-small);
    }

    .presentation {
        flex-direction: column-reverse;
        padding: 5%;
        gap: 20px;
    }

    .presentation__content {
        width: 100%;
        gap: 20px;
    }

    .presentation__content__title {
        font-size: var(--font-size-large);
    }

    .presentation__content__text {
        font-size: var(--font-size-medium);
    }

    .presentation__links__nav {
        flex-direction: column;
        width: 100%;
        gap: 10px;
        display: flex;
        align-items: center;
    }

    .presentation__links__nav img {
        width: 30px; 
        height: auto;
    }

    .presentation__img {
        width: 100%;
        border-radius: 15px;
    }

    .footer {
        text-align: center;
    }

    .footer .nav {
        display: flex;
        justify-content: center;
    }

    .footer .nav li {
        margin: 0 10px;  
    }

    


}