:root {
    --color-primary: #2C3639;
    --color-secondary: #ffff;
    --color-tertiary: #A27B5C;
    --color-hover: #3F4E4F;

    /* --font-primary: 'Krona One', sans-serif;
    --font-secondary: 'Montserrat', sans-serif; */
}

* {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;

}

body {
    box-sizing: border-box;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    transition: background-color 0.4s, color 0.4s;

}


.header {
    padding: 2% 0% 0% 15%;
}

.header__menu {
    display: flex;
    gap: 80px;
}

.header__menu__link {
    font-family: var(--font-secondary);
    font-size: 1rem;
    font-weight: 600;
    color: #FFFF;
    text-decoration: none;
}

.toggle-switch {
    display: flex;
    align-items: center;
    margin-left: 20px; 
}

.presentation {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.presentation__content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentation__content__title {
    color: #d5a57e;
    font-size: 1.5rem;
    font-family: var(--font-primary);
    
}

.text-highlight {
    color: var(--color-tertiary);
}

.presentation__content__text {
    font-size: 1rem;
    font-family: var(--font-secondary);
}

.presentation__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;

}

.presentation__links__title {
    font-family: var(--font-primary);
    font-weight: 100;
    font-size: 1rem;
    margin-bottom: 20px;
}


.presentation__links__nav {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--color-tertiary);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--color-secondary);
    font-family: var(--font-secondary);
}

.presentation__links__link:hover {
    background-color: var(--color-hover);
}


.presentation__content__list {
    list-style-type: none;
    padding: 0; 
}

.presentation__content__item {
    margin-bottom: 20px; 
}

.presentation__content__company {
    font-size: 1.3em; 
    
    margin-bottom: 6px; 
}

.presentation__content__role {
    font-size: 1.2em;
    margin-bottom: 5px; 
}

.presentation__content__duration {
    font-size: 1em; 
    font-style: italic;
}

.presentation__content__description {
    font-size: 1em; 
    margin-top: 5px; 
    
}


.presentation__img {
    width: 30%;
    border-radius: 30px;
}




.footer {
    color: var(--color-primary);
    background-color: var(--color-tertiary);
    padding: 24px;
    text-align: center;
    font-family: var(--font-secondary);
    font-size: 1rem;
    font-weight: 400;
}

.card {
    transition: transform 0.3s ease;
    position: relative;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.02);
}

.card img {
    transition: transform 0.3s ease;
}

.card:hover img {
    transform: scale(1.02);
}

.btn-test {
    background-color: #A27B5C;
}

/* -----------------------------start switch theme -------------------------------*/ 

.input {
    visibility: hidden;
}

.label {
    position: relative;
    width: 45px;
    height: 25px;
    background-color: lightgray;
    border-radius: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 3px; 
    transition: background-color 0.4s linear; 
}
.circle {
    width: 21px;
    height: 21px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 3px;
    transition: transform 0.4s linear;
}

.input:checked + .label {
    background-color: rgb(25, 185, 54); 
}

.input:checked + .label .circle {
    transform: translateX(20px); 
    background-color: black;
}

.light-theme {
    background-color: #eb9654; /* Light mode background */
    color: black; /* Dark text color */
    
}

.light-theme .header__menu__link {
    color: black; /* Dark text color */
    
}

.light-theme .presentation__content__title {
    color: black; /* Dark text color */
    
}

.light-theme .presentation__links {
    color: black; /* Dark text color */
    
}

.light-theme .presentation__links__nav {
    color: black; /* Dark text color */
    
}
.light-theme .text-highlight {
    color: black; /* Dark text color */
    
}

.light-theme .footer {
    background-color: #ea7413;
}

.light-theme .btn-test {
    background-color: #ea7413;
}

/* -----------------------------end switch theme -------------------------------*/ 

@media (max-width: 1200px) {
    .header {
        padding: 10%;

    }

    .header__menu {
        justify-content: center;

    }

    .presentation {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .presentation__content {
        width: auto;
    }

    img {
        max-width: 100%;
        height: auto;
    }


}

@media (max-width: 400px) {
    :root {
        --font-size-large: 1.25rem;
        --font-size-medium: 1rem;
        --font-size-small: 0.875rem;
    }

    img {
        max-width: 100%;
        height: auto;
    }


    .header {
        padding: 5%;
    }

    .header__menu {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .header__menu__link {
        font-size: var(--font-size-small);
    }

    .presentation {
        flex-direction: column-reverse;
        padding: 5%;
        gap: 20px;
    }

    .presentation__content {
        width: 100%;
        gap: 20px;
    }

    .presentation__content__title {
        font-size: var(--font-size-large);
    }

    .presentation__content__text {
        font-size: var(--font-size-medium);
    }

    .presentation__links__nav {
        flex-direction: column;
        width: 100%;
        gap: 10px;
        display: flex;
        align-items: center;
    }

    .presentation__links__nav img {
        width: 30px; 
        height: auto;
    }

    .presentation__img {
        width: 100%;
        border-radius: 15px;
    }

    .footer {
        text-align: center;
    }

    .footer .nav {
        display: flex;
        justify-content: center;
    }

    .footer .nav li {
        margin: 0 10px;  
    }

    


}